{% extends "base.html" %}

{% block content %}

<div class="container py-2">

    <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4 col-sm-6">

            <div class="card bg-dark text-light border-success shadow">

                <div class="card-body p-2">


                    <h6 class="text-center text-success mb-2">

                        <i class="bi bi-shield-check"></i>
                        Activate Account

                    </h6>


                    <p class="text-center small mb-1">

                        Welcome
                        <strong>{{ user.username }}</strong>

                    </p>


                    <p class="text-center text-secondary"
                       style="font-size:11px;">

                        Create your password

                    </p>



                    <form method="POST">

                        {{ form.hidden_tag() }}


                        <div class="mb-2">

                            {{ form.password.label(
                                class="form-label",
                                style="font-size:12px;"
                            ) }}

                            {{ form.password(
                                class="form-control form-control-sm",
                                placeholder="New password"
                            ) }}

                        </div>



                        <div class="mb-2">

                            {{ form.confirm_password.label(
                                class="form-label",
                                style="font-size:12px;"
                            ) }}


                            {{ form.confirm_password(
                                class="form-control form-control-sm",
                                placeholder="Confirm password"
                            ) }}

                        </div>



                        <div class="d-grid">

                            {{ form.submit(
                                class="btn btn-sm btn-success",
                                style="font-size:12px;"
                            ) }}

                        </div>


                    </form>


                </div>

            </div>


        </div>


    </div>


</div>


{% endblock %}