{% extends 'base.html' %}

{% block content %}
<div class='row justify-content-center'>
    <div class='col-md-5'>
        <div class='card bg-black text-light border-info shadow-lg'>
            <div class='card-body p-4'>
                <h3 class='text-center text-info mb-4'>Admin Login</h3>

                <form method='POST'>
                    {{ form.hidden_tag() }}

                    <div class='mb-3'>
                        {{ form.username.label(class='form-label') }}
                        {{ form.username(class='form-control bg-dark text-light border-secondary') }}
                    </div>

                    <div class='mb-3'>
                        {{ form.password.label(class='form-label') }}
                        {{ form.password(class='form-control bg-dark text-light border-secondary') }}
                    </div>

                    <div class='d-grid'>
                        {{ form.submit(class='btn btn-info') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}