# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# ==========================
# Environment secrets
# ==========================
.env
.env.*

!.env.example

# ==========================
# Flask
# ==========================
instance/
*.sqlite
*.sqlite3
*.db

# ==========================
# Uploads
# ==========================
app/static/uploads/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Migrations cache
# ==========================
migrations/__pycache__/

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build files
# ==========================
*.egg-info/
dist/
build/
