<div class="topbar glass">

    <div>

        <h3 class="mb-1">

            {{ team.name }}

        </h3>

        <small class="text-secondary">

            Welcome back,
            {{ user.username }}

        </small>

    </div>

    <div class="topbar-search">

        <i class="bi bi-search"></i>

        <input
            type="text"
            placeholder="Search workspace">

    </div>

    <div class="topbar-icons">

        <button>

            <i class="bi bi-bell-fill"></i>

        </button>

        <button>

            <i class="bi bi-chat-dots-fill"></i>

        </button>

        <button>

            <i class="bi bi-gear-fill"></i>

        </button>

    </div>

</div>