<div class="widget">

    <div class="widget-title">

        <h5>

            Workspace Progress

        </h5>

    </div>

    <div class="progress-item">

        <span>

            Projects

        </span>

        <div class="progress">

            <div class="progress-bar bg-info"
                 style="width:72%">

            </div>

        </div>

    </div>

    <div class="progress-item">

        <span>

            Tasks

        </span>

        <div class="progress">

            <div class="progress-bar bg-success"
                 style="width:58%">

            </div>

        </div>

    </div>

    <div class="progress-item">

        <span>

            Meetings

        </span>

        <div class="progress">

            <div class="progress-bar bg-warning"
                 style="width:91%">

            </div>

        </div>

    </div>

</div>