<!-- ========================================= -->
<!-- UPCOMING MEETINGS -->
<!-- ========================================= -->

<div class="card border-0 shadow dashboard-card mb-4">

    <div class="card-header">

        <h5>

            <i class="bi bi-calendar-event-fill text-success"></i>

            Upcoming Meetings

        </h5>

    </div>

    <div class="card-body">

        <div class="meeting-item mb-3">

            <h6>

                Cybersecurity Sync

            </h6>

            <small>

                Tomorrow • 7:00 PM

            </small>

        </div>

        <hr>

        <div class="meeting-item mb-3">

            <h6>

                ZeroNexus AI Review

            </h6>

            <small>

                Friday • 8:30 PM

            </small>

        </div>

        <hr>

        <div class="meeting-item">

            <h6>

                Development Sprint

            </h6>

            <small>

                Monday • 6:00 PM

            </small>

        </div>

    </div>

</div>