:root{

    --bg:#0b1220;
    --bg-secondary:#111827;
    --surface:#182233;
    --surface-light:#1f2d44;

    --primary:#3b82f6;
    --secondary:#06b6d4;
    --success:#22c55e;
    --warning:#f59e0b;
    --danger:#ef4444;
    --purple:#8b5cf6;

    --text:#ffffff;
    --text-muted:#9ca3af;

    --border:rgba(255,255,255,.08);

    --radius:18px;

    --shadow:
        0 10px 30px rgba(0,0,0,.35);

    --transition:.25s ease;

}