{% extends "admin/layout.html" %}
<h2 class="page-title mb-0">
    Manage Users
</h2>

<a href="{{ url_for('admin.add_user') }}"
   class="btn btn-primary">
    Add User
</a>
<div class="table-responsive">

    <table class="table table-striped align-middle mb-0" data-searchable>

        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Team</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>

            {% for user in users %}

            <tr>

                <td>
                    <strong>{{ user.username }}</strong>
                </td>

                <td>{{ user.email }}</td>

                <td>{{ user.role }}</td>

                <td>
                    {% if user.team %}
                        {{ user.team.name }}
                    {% else %}
                        No Team
                    {% endif %}
                </td>

                <td>
                    {% if user.is_active %}
                        <span class="badge bg-success">
                            Active
                        </span>
                    {% else %}
                        <span class="badge bg-warning">
                            Pending
                        </span>
                    {% endif %}
                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>