{% extends "base.html" %}


{% block content %}


<h1>
🤖 Nexus AI Tutor
</h1>


<div class="chat-box">


<p>
<b>Student:</b>
</p>

<p>
I don't understand loops
</p>


<hr>


<p>
<b>Nexus AI:</b>
</p>


<p>

No problem.

Imagine you have a robot that repeats
the same task every morning.

A loop allows your computer to repeat
instructions automatically.

</p>


<pre>

for i in range(5):
    print("Python")

</pre>


</div>


<input placeholder="Ask Nexus AI">


<button>
Send
</button>


{% endblock %}